<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo me-auto"
      ><img src="/assets/img/logo.png" alt=""
    /></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/about-us">About</a></li>
        <li><a class="nav-link scrollto" href="/our-partners">Partners </a></li>
        <li><a class="nav-link scrollto" href="/why-sell">Why Sell</a></li>
        <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <a href="/apply" class="get-started-btn scrollto">Apply For GM</a>
  </div>
</header>
